Repository giuppep/flask-pg-session: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pydocstyle, mypy, mypy-full

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        files: "^flask_pg_session"
        stages: [commit]
        language: system
        entry: poetry run isort
        types: [python]

      - id: black
        name: black
        files: "^flask_pg_session"
        stages: [commit]
        language: system
        entry: poetry run black
        types: [python]

      - id: flake8
        name: flake8
        files: "^flask_pg_session"
        stages: [commit]
        language: system
        entry: poetry run flake8
        types: [python]

      - id: pydocstyle
        name: pydocstyle
        files: "^flask_pg_session"
        stages: [commit]
        language: system
        entry: poetry run pydocstyle
        types: [python]

      - id: mypy
        name: mypy
        files: "^flask_pg_session"
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        pass_filenames: true

      - id: mypy-full
        name: mypy
        files: ".py$"
        stages: [push]
        language: system
        entry: poetry run mypy flask_pg_session/
        types: [python]
        pass_filenames: false

fix: incorrect types
  flask_pg_session/session.py
Due: isort, black, flake8, pydocstyle, mypy, mypy-full

feat: added customisable schema + query manager class
  flask_pg_session/_queries.py
  flask_pg_session/session.py
Due: isort, black, flake8, pydocstyle, mypy, mypy-full

fix: timezone info was causing incorrect expiry values in db
  flask_pg_session/session.py
Due: isort, black, flake8, pydocstyle, mypy, mypy-full

chore: remove unnecessary import and comment
  flask_pg_session/session.py
Due: isort, black, flake8, pydocstyle, mypy, mypy-full

feat: make all attrs configurable via flask config
  flask_pg_session/session.py
Due: isort, black, flake8, pydocstyle, mypy, mypy-full

feat: modify public interface to match standard flask extension initialisation pattern
  flask_pg_session/session.py
Due: isort, black, flake8, pydocstyle, mypy, mypy-full

chore: configure action for publishing package
  .github/workflows/release.yml
Due: none

initial work on action for static analysis
  .github/workflows/static-analysis.yml
Due: none

run linters
  .github/workflows/static-analysis.yml
Due: none

fix name + isort
  .github/workflows/static-analysis.yml
Due: none

update version of setup-python
  .github/workflows/static-analysis.yml
Due: none

replace flake8 with ruff and fix linting errors
  .flake8
  .github/workflows/static-analysis.yml
  .pre-commit-config.yaml
  flask_pg_session/__init__.py
  flask_pg_session/_queries.py
  flask_pg_session/session.py
  poetry.lock
  pyproject.toml
Due: isort, black, flake8, pydocstyle, mypy, mypy-full

.gitignore
  .gitignore
Due: none

update target branch for static analysis action
  .github/workflows/static-analysis.yml
Due: none

chore: setup linting gh action + replace flake8 with ruff (#1)
  .flake8
  .github/workflows/static-analysis.yml
  .gitignore
  .pre-commit-config.yaml
  flask_pg_session/__init__.py
  flask_pg_session/_queries.py
  flask_pg_session/session.py
  poetry.lock
  pyproject.toml
Due: isort, black, flake8, pydocstyle, mypy, mypy-full

chore: make utils file private
  flask_pg_session/_utils.py
  flask_pg_session/session.py
Due: isort, black, flake8, pydocstyle, mypy, mypy-full

chore: add changelog file
  CHANGELOG.md
Due: none

fix: release permissions
  .github/workflows/release.yml
Due: none

chore: write readme and update docstring
  README.md
  flask_pg_session/session.py
Due: isort, black, flake8, pydocstyle, mypy, mypy-full

docs: add sphinx documentation
  .gitignore
  docs/Makefile
  docs/conf.py
  docs/index.rst
  docs/make.bat
  flask_pg_session/__init__.py
  flask_pg_session/session.py
Due: isort, black, flake8, pydocstyle, mypy, mypy-full

chore: tweak configuration defaults
  README.md
  flask_pg_session/session.py
Due: isort, black, flake8, pydocstyle, mypy, mypy-full

docs: update readme
  README.md
Due: none

chore: updated links in pyproject.toml
  pyproject.toml
Due: none

remove myst_parser extension from sphinx conf
  docs/conf.py
Due: mypy-full

update actions versions in release workflow
  .github/workflows/release.yml
Due: none

remove sphinx docs
  docs/Makefile
  docs/conf.py
  docs/index.rst
  docs/make.bat
Due: mypy-full

replace sphinx with mkdocs
  poetry.lock
  pyproject.toml
Due: none

mkdocs documentation
  docs/index.md
  mkdocs.yml
Due: none

add requirements for building docs
  docs/requirements.txt
Due: none

add docs badge to readme
  README.md
Due: none

quote strings in readme
  README.md
Due: none

migrate documentation to mkdocs (#6)
  docs/Makefile
  docs/conf.py
  docs/index.md
  docs/index.rst
  docs/make.bat
  docs/requirements.txt
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: mypy-full
